icfp/__pycache__/__init__.cpython-312.pyc
icfp/__pycache__/decode.cpython-312.pyc
icfp/__pycache__/encode.cpython-312.pyc
icfp/__pycache__/util.cpython-312.pyc
__pycache__/find_optimal_path.cpython-312.pyc
spaceship/__pycache__/find_optimal_path.cpython-312.pyc
.idea/misc.xml
**/__pycache__/**